@charset "utf-8";

.app-record-input {
	.input {
		margin-bottom: 10px;
		.in {
			width: 100%;
		}
		
	}

	.b {
		display: -webkit-box;
	}

	
	.progress, .project {
		-webkit-box-flex: 1;
		position: relative;
		.btn {
			width: 115px;
			display: -webkit-box;
			-webkit-box-align: center;
			-webkit-box-pack: center;
			height: 40px;
			color: #8a929b;
			font-size: 12px;
			border: 1px solid #dee3e8;
			box-shadow: 0 0 0 1px rgba(255,255,255,0.6) inset;
			cursor: pointer;
			border-radius: 3px;
			-webkit-user-select: none;
			span {
				color: #586069;
				margin: 0 5px;
			}
			sub {
				display: block;
				width: 10px;
				height: 10px;
				background-image: url('../../assets/imgs/icon-down.png');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
			}
			&:hover, &.active {
				background: #f7f9fc;
			}
		}
		.popup {
			position: absolute;
			left: 0;
			top: 42px;
			width: 322px;
			box-shadow: 0 5px 35px rgba(0,39,61,0.05);
			border: 1px solid #d4d9de + 10;
			border-radius: 3px;
			z-index: 999;
			background: #fff;
			color: #586069 + 30;
			padding: 10px;
			ul {
				overflow: hidden;
			}
			li {
				float: left;
				padding: 5px;
				&.active a {
					background: #6495ff;
					color: #fff;
					span {
						opacity: 1;
					}
				}
			}
			a {
				display: block;
				width: 50px;
				height: 50px;
				background: #f7f9fc;
				border-radius: 50%;
				text-align: center;
				line-height: 50px;
				color: #8a929b;
				font-size: 12px;
				cursor: pointer;
				span {
					opacity: 0.5;
				}
				&:hover {
					background: #f7f9fc - 5;
				}
			}
		}

	}
	
	.project {
		-webkit-box-flex: 0;
		margin-right: 10px;
		.btn {
			width: auto;
			min-width: 115px;
			padding: 0 10px;
		}
		.popup {
			width: 250px;
			max-height: 34 * 7 + 20px;
			overflow: auto;
			ul li {
				float: none;
				padding: 0;
				&.active a {
					background: none;
					color: #6495ff;
				}
			}
			a {
				width: auto;
				height: auto;
				background: none;
				border-radius: 0;
				line-height: 34px;
				height: 34px;
				overflow: hidden;
				padding: 0 10px;
				text-align: left;
				&:hover {
					background: none;
					color: #586069;
				}

			}
		}
	}

	
	
	&--loading {
		.progress .title {
			pointer-events: none;
			color: #586069 + 30;
			span {
				color: #586069 + 50 + 30;
			}
		}
	}
	&--disabled {
		.progress .title {
			pointer-events: none;
			color: #586069 + 30;
			span {
				color: #586069 + 50 + 30;
			}
		}
	}
}