@charset "utf-8";

.writer-box {
	display: -webkit-box;
	margin-bottom: 20px;
	overflow: hidden;
	.icon {
		margin-right: 15px;
		display: block;
		width: 60px;
		height: 60px;
		background: #5081ff + 20 url('../../assets/imgs/icon-write.png') center center no-repeat;
		background-size: 30px 30px;
		border-radius: 50%;
	}
	.con {
		-webkit-box-flex: 1;
		padding: 15px;
	}
	.newrecord {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px dashed #dee3e8;
	}
}