
.view-chart {
  padding-top: 20px;

  .wb-pager {
    justify-content: center;
  }

  > .chart-tabs {
    border: 1px solid #dee3e8;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    width: 302px;
    height: 42px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    a {
      display: block;
      float: left;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #586069;
      &:hover {
        color: #5081ff;
      }
      &.active {
        background: #f7f9fc;
        color: #5081ff;
        font-weight: bold;
      }
    }
  }

  .chart-title {
    margin-bottom: 15px;
    h1 {
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
    }
  }

  .projects-chart {
    margin-right: -15px;
    .wb-pie-chart-project {
      float: left;
      margin: 0 15px 15px 0;
    }
  }

  .departments-chart {
    margin-right: -15px;
    .wb-pie-chart-department {
      float: left;
      margin: 0 15px 15px 0;
    }
  }
}
