@charset "utf-8";

.x-toast {
	position: fixed;
	left: 0;
	top: 10px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: start;
	width: 100%;
	height: 100%;
	z-index: 99997;
	background: rgba(0,0,0,0);
	pointer-events: none;
	&__inner {
		background: rgba(255,255,255,0.9);
		padding: 10px 16px;
		border-radius: 3px;
		-webkit-transform-origin: 50%;
		box-shadow: 0 0 15px rgba(0,39,61,0.1);
		border-top: none;
		-webkit-transform: translate(0, -150%);
		-webkit-transition: all 0.15s ease-out;
		p {
			color: #ff6600;
			font-size: 14px;
		}
	}
	&--show {
		.x-toast__inner {
			-webkit-transform: translate(0, 0);
		}
	}
	&--hide {
		.x-toast__inner {
			-webkit-transform: translate(0, -150%);
		}
	}
}