
.view-project {
  .wb-body {
    display: block;
    padding-top: 20px;
  }
  .project-list {
    margin-bottom: 10px;
    > header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h1 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        flex: 1;
      }
    }
    > .list {
      overflow: hidden;
      margin-right: -10px;
      > div {
        float: left;
        margin: 0 10px 10px 0;
        background: #fff;
      }
    }
  }
}

.view-project__mission-bar {
  .inner {
    width: 380px;
    height: 100%;
    padding: 20px;
    > .mission-item {
      margin-bottom: 15px;
    }
    > header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      h2 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        flex: 1;
      }
    }
  }
}