
.view-project {
  padding-top: 20px;

  .project-list {
    margin-bottom: 10px;
    > header {
      margin-bottom: 15px;
      h1 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
      }
    }
    > .list {
      margin-right: -10px;
      > div {
        float: left;
        margin: 0 10px 10px 0;
        background: #fff;
      }
    }
  }
}