@charset "utf-8";

.app-dailys {
	li {
		display: -webkit-box;
		padding-bottom: 10px;
		&:last-child {
			padding-bottom: 0;
		}
		> .icon-circle {
			margin: 1px 5px 0 0;
			width: 20px;
			height: 20px;
		}
		> p {
			-webkit-box-flex: 1;
			display: block;
			font-size: 14px;
			line-height: 24px;
			color: #586069;
		}
		> .tools {
			display: -webkit-box;
			height: 24px;
			line-height: 24px;
			visibility: hidden;
			pointer-events: none;
			a {
				display: block;
				margin-left: 10px;
				font-size: 12px;
				color: #8a929b;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		&:hover {
			.tools {
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}