@charset "utf-8";

.app-dailys {
	li {
		display: -webkit-box;
		padding-bottom: 10px;
		&:last-child {
			padding-bottom: 0;
		}
		.icon-circle {
			margin: 1px 5px 0 0;
			width: 20px;
			height: 20px;
		}
		.record {
			-webkit-box-flex: 1;
			display: block;
			font-size: 14px;
			line-height: 24px;
			color: #586069;
			&.empty {
				color: #e5e5e5;
				text-align: left;
			}
		}
		> .tools {
			display: -webkit-box;
			height: 24px;
			line-height: 24px;
			visibility: hidden;
			pointer-events: none;
			a {
				display: block;
				margin-left: 10px;
				font-size: 12px;
				color: #8a929b;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		&:hover {
			.tools {
				visibility: visible;
				pointer-events: auto;
			}
		}
		&.rewrite {
			opacity: 1;
			pointer-events: auto;
			display: block;
			.box {
				display: -webkit-box;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px dashed #dee3e8;
			}
		}
		&.empty {
			color: #ddd;
			font-size: 12px;
			line-height: 80px;
			-webkit-box-pack: center;
		}
	}
	&--rewrite {
		li {
			opacity: 0.2;
			pointer-events: none;
		}
	}
}