@charset "utf-8";

.app-project-list {
	overflow: hidden;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 15px;
	> h1 {
		padding: 15px 15px 0 15px;
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
		display: block;
		margin-bottom: 10px;
	}
	li {
		a,p {
			display: -webkit-box;
			-webkit-box-align: center;
			height: 40px;
			line-height: 40px;
			overflow: hidden;
			padding: 0 15px;
			font-size: 14px;
			color: #586069;
			&:hover {
				background: #ebedf0 + 12;
				color: #5081ff;
			}
		}
		span {
			display: block;
			width: 100%;
			-webkit-box-flex: 1;
			margin-right: 10px;
		}
		em {
			opacity: 0.5;
			font-size: 12px;
		}
		i {
			display: block;
			width: 10px;
			height: 10px;
			background: #c7b3ff;
			margin-right: 10px;
			border-radius: 50%;
		}
		&.active a, &.active p {
			font-weight: bold;
			background: #ebedf0 + 12;
			color: #5081ff;
		}
		&:nth-child(6n+1) i {
			background: #c7b3ff;
		}
		&:nth-child(6n+2) i {
			background: #68e4b1;
		}
		&:nth-child(6n+3) i {
			background: #a6ee5f;
		}
		&:nth-child(6n+4) i {
			background: #82c6f1;
		}
		&:nth-child(6n+5) i {
			background: #f8b981;
		}
		&:nth-child(6n+6) i {
			background: #feb5cc;
		}
	}
}
