@charset "utf-8";

.user-daily-list {
	.date-bar {
		margin-left: 75px;
		margin-bottom: 15px;
		width: 360px;
		display: -webkit-box;
		overflow: hidden;
		a {
			display: block;
			width: 120px;
			font-size: 12px;
			height: 40px;
			line-height: 40px;
			color: #8a929b;
			text-align: center;
			border-right: 1px solid #dee3e8;
			&:last-child {
				border-right: none;
			}
			&:hover {
				color: #5081ff;
			}
		}
		p {
			display: block;
			width: 120px;
			height: 40px;
			line-height: 40px;
			color: #5081ff;
			background: #f7f9fc;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			border-right: 1px solid #dee3e8;
		}
	}
	.daily-item {
		display: -webkit-box;
		margin-bottom: 15px;
	}
	.header {
		margin-right: 15px;
	}
	.daily-bd {
		-webkit-box-flex: 1;
		padding: 15px;
		> h1 {
			display: -webkit-box;
			font-weight: normal;
			line-height: 20px;
			margin-bottom: 8px;
			time {
				font-size: 18px;
				margin-right: 10px;
				font-weight: bold;
			}
			a {
				font-size: 14px;
				display: block;
				color: #33b400;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		
	}
}