
.wb-tips {
  display: block;
  &__hover {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%,-100%) scale(0.8);
    transform-origin: center bottom;
    z-index: 99;
    pointer-events: none;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-out;
  }
  &__content {
    display: block;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
  }
  &__arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 4px;
    opacity: 0.8;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -2px;
      bottom: -3px;
      border: 4px solid #000;
      transform: rotate(-45deg);
      width: 0;
      height: 0;
    }
  }
  &:hover {
    .wb-tips__hover {
      opacity: 1;
      transform: translate(-50%,-100%) scale(1);
      visibility: visible;
    }
  }
}