@charset "utf-8";

// icon字体
@font-face {
	font-family: 'icons';
    src: url('icons.woff') format('woff'), /* chrome、firefox */
    url('icons.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('icons.svg#icons') format('svg'); /* iOS 4.1- */
}

// 基本图标类
$x-icons: (check: "\e600", close: "\e601", round-check-fill: "\e602", round-check: "\e603", round-right: "\e604", unfold: "\e605", scan: "\e607", right: "\e606", pic: "\e608", top: "\e609", refresh: "\e60b", delete: "\e60c", square-check-fill: "\e60d", square: "\e60e", square-check: "\e60f", round: "\e610", fold: "\e611", pull-right: "\e612", refresh-arrow: "\e613", add: "\e614", search: "\e615", back: "\e627", rmb: "\e616", user: "\e61f", phone: "\e60a", mobile: "\e617", address: "\e61e", home: "\e61c", more: "\e61d", friend: "\e619", help: "\e618", tag: "\e622", mail: "\e624", idcard: "\e620", time: "\e626", cart: "\e621", v: "\e61b");
.x-icon {
	display: block;
	line-height: 1;
	text-align: center;
	overflow: hidden;
	color: #333;
	font-size: 0.4rem;
	&:after {
		content: "";
		font-family: "icons" !important;
	    font-style: normal;
	    -webkit-font-smoothing: antialiased;
	}
}

@each $name, $font in $x-icons {
	.x-icon--#{$name} {
		&:after {
			content: $font;
		}
	}
}