@charset "utf-8";

.view-index {
  > .header-missions {
    background: #fff;
    padding: 20px 0 5px 0;
    margin: 0 -1600px 20px -1600px;
    border-bottom: 1px solid #dee3e8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    > .inner {
      width: 1128px;
      margin: 0 auto;
      > header {
        margin-bottom: 15px;
        h1 {
          font-size: 18px;
          line-height: 20px;
          font-weight: 700;
        }
      }
      .list {
        margin-right: -15px;
        > div {
          margin: 0 15px 15px 0;
          float: left;
        }
      }
    }
  }

  .body {
    > .main {
      width: 810px;
      margin-right: 15px;
      float: left;
    }
    > .aside {
      width: 303px;
      float: left;
    }
  }
}
