@charset "utf-8";

.view {
	.app-main {
		padding-top: 110px;
		width: 1040px;
		margin: 0 auto;
		display: -webkit-box;
		-webkit-box-align: start;
		.app-body {
			width: 760px;
			margin-right: 15px;
			min-height: 800px;
		}
		.app-aside {
			-webkit-box-flex: 1;
		}
	}
}