@charset "utf-8";

.x-dialog {
	&__inner {
		padding: 15px;
		overflow: hidden;
		height: 100%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	.x-modal__inner {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		background: #fff;
		-webkit-transform-origin: 50%;
		border-radius: 4px;
		width: 500px;
		margin-bottom: 200px;
	}
	&.x-modal--enter {
		.x-modal__bg {
			opacity: 1;
		}
		.x-modal__inner {
			-webkit-animation: '__x_dialog_enter' 0.2s ease-out;
		}
	}
	&.x-modal--leave {
		.x-modal__bg {
			opacity: 0;
		}
		.x-modal__inner {
			-webkit-animation: '__x_dialog_leave' 0.1s ease-out;
		}
	}
}

@-webkit-keyframes '__x_dialog_enter' {
	0% { -webkit-transform: scale(1.4,1.4); opacity: 0;}
	75% { -webkit-transform: scale(0.95,0.95); opacity: 1;}
	100% { -webkit-transform: scale(1,1); opacity: 1;}
}
@-webkit-keyframes '__x_dialog_leave' {
	0% { -webkit-transform: scale(1,1); opacity: 1;}
	100% { -webkit-transform: scale(0.95,0.95); opacity: 0;}
}