@charset "utf-8";

.my-daily-list {
	padding-left: 75px;
	.daily-item {
		display: -webkit-box;
		margin-bottom: 15px;
	}
	.header {
		margin-right: 15px;
	}
	.daily-bd {
		-webkit-box-flex: 1;
		padding: 15px;
		> h1 {
			display: -webkit-box;
			font-weight: normal;
			line-height: 20px;
			margin-bottom: 8px;
			time {
				display: block;
				font-size: 14px;
				color: #8a929b;
			}
		}
		
	}
}