.wb-dialog-mission-detail {
  .inner {
    width: 418px;
    height: 100%;
    position: relative;
    > .header {
      padding: 15px;
      display: block;
      position: relative;
      border-bottom: 1px solid #dee3e8 + 15;
      background: #f7f9fc;
      h2 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        padding-right: 40px;
        span {
          display: block;
          float: left;
          border-radius: 50px;
          margin: 5px 5px 0 0;
          color: #fff;
          font-size: 12px;
          font-weight: normal;
          line-height: 1;
          padding: 4px 6px;
          &.weight-2 {
            background: #ff9900;
          }
          &.weight-3 {
            background: #ff3300;
          }
        }
      }
      a {
        position: absolute;
        right: 15px;
        top: 15px;
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        &:hover svg {
          fill: #5081ff;
        }
      }
      svg {
        display: block;
        width: 14px;
        height: 14px;
        margin: 8px 0 8px 16px;
        fill: #586069;
      }
    }
    > .mission-info {
      position: relative;
      > h3 {
        padding: 15px 80px 0 15px;
        color: #222;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 5px;
      }
      > .progress {
        width: 60px;
        height: 4px;
        position: absolute;
        right: 15px;
        top: 20px;
        background: #33b40030;
        border-radius: 3px;
        overflow: hidden;
        span {
          display: block;
          width: 50%;
          height: 100%;
          border-radius: 3px;
          background: #33b400;
        }
      }
      > time {
        padding: 0 15px 15px 15px;
        border-bottom: 1px dashed #dee3e8 + 15;
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: #a8b0b9;
        span {
          color: #586069;
        }
      }
      > .user {
        display: flex;
        align-items: center;
        padding: 15px;
        .wb-user-header {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
        .info {
          flex: 1;
          p {
            font-size: 14px;
            color: #586069;
            line-height: 1.2;
          }
          span {
            font-size: 12px;
            color: #a8b0b9;
            line-height: 1.2;
          }
        }
      }
      > .edit {
        position: absolute;
        right: 15px;
        bottom: 15px;
        display: block;
        padding: 2px;
        svg {
          display: block;
          width: 16px;
          height: 16px;
          fill: #a8b0b9;
        }
        &:hover svg {
          fill: #5081ff;
        }
      }
    }
    > .dailies {
      > h3 {
        border-top: 1px solid #dee3e8 + 15;
        border-bottom: 1px solid #dee3e8 + 15;
        padding: 8px 10px;
        background: #f7f9fc;
        overflow: hidden;
        font-size: 12px;
        color: #a8b0b9;
      }
      .empty {
        text-align: center;
        line-height: 100px;
        font-size: 12px;
        color: #dee3e8;
      }
    }
  }
}