
.wb-mission-item {
  position: relative;
  width: 340px;
  height: 140px;
  border-radius: 4px;
  border: 1px solid #dee3e8;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  > h2 {
    padding: 10px 80px 0 10px;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  > .progress {
    width: 60px;
    height: 4px;
    position: absolute;
    right: 10px;
    top: 20px;
    background: #33b40030;
    border-radius: 3px;
    overflow: hidden;
    span {
      display: block;
      width: 50%;
      height: 100%;
      border-radius: 3px;
      background: #33b400;
    }
  }
  > ul {
    padding: 0 10px;
    color: #8a929b;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  > .description {
    padding: 0 10px;
    margin-bottom: 5px;
    color: #586069;
    font-size: 12px;
    line-height: 1.5;
  }
  > .tools {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 10px;
    .wb-button {
      margin-right: 5px;
      float: left;
    }
  }
  &.show-joined {
    height: auto;
  }
  > .joined-list {
    padding: 10px;
    border-top: 1px dashed #dee3e8 + 15;
    display: flex;
    align-items: center;
    .user-header {
      margin-right: 5px;
    }
    .more {
      font-size: 12px;
      color: #586069 + 100;
      flex: 1;
    }
  }
  > .footer {
    border-top: 1px solid #dee3e8;
    background: #f7f9fc;
    padding: 0 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    span {
      color: #8a929b;
      font-size: 12px;
      line-height: 36px;
      padding-right: 4px;
      float: left;
    }
    p {
      float: left;
      color: #a8b0b9;
      font-size: 12px;
      line-height: 36px;
    }
    a {
      float: right;
      color: #a8b0b9;
      font-size: 12px;
      line-height: 36px;
      &:hover {
        color: #5081ff;
      }
    }
  }
}

.dialog-project-rule {
  .info {
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #586069;
    font-size: 14px;
    border-bottom: 1px dashed #dee3e8;
  }
  .rule {
    p {
      background: #f7f9fc;
      padding: 10px;
      border-radius: 4px;
      color: #586069;
      font-size: 14px;
      line-height: 1.5;
      word-wrap: break-word;
      max-height: 300px;
      overflow: auto;
    }
  }
  h3 {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
  }
}

.dialog-mission-rule {
  .info {
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #586069;
    font-size: 14px;
    border-bottom: 1px dashed #dee3e8;
  }
  .rule {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dee3e8;
    p {
      background: #f7f9fc;
      padding: 10px;
      border-radius: 4px;
      color: #586069;
      font-size: 14px;
      line-height: 1.5;
      word-wrap: break-word;
      max-height: 300px;
      overflow: auto;
    }
  }
  h3 {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .all-users {
    .list {
      display: flex;
      .user-header {
        margin-right: 10px;
      }
    }
  }
}