@charset "utf-8";

.app-header {
	height: 80px;
	border-bottom: 1px solid #d1d5da + 10;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.07);
	margin-bottom: 30px;
	position: relative;
	z-index: 9;
	.inner {
		width: 1040px;
		margin: 0 auto;
		height: 80px;
		display: -webkit-box;
		-webkit-box-align: center;
		position: relative;
	}
	.logo {
		width: 195px;
		height: 27px;
		background: url('../../assets/imgs/logo.png');
		background-size: 100% 100%;
		margin-right: 70px;
	}
	nav {
		display: -webkit-box;
		margin-right: 70px;
		a {
			display: block;
			height: 80px;
			line-height: 80px;
			font-size: 16px;
			font-weight: bold;
			color: #586069 + 0;
			padding: 0 20px;
			&:hover {
				color: #000;
			}
			&.active {
				color: #5081ff;
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 36px;
					height: 2px;
					background: #5081ff;
					position: absolute;
					left: 50%;
					top: 54px;
					margin-left: -18px;
				}
			}
		}
	}
	.searchbar {
		display: -webkit-box;
		width: 300px;
		position: relative;
		z-index: 99;
		input {
			width: 100%;
		}
		.result {
			position: absolute;
			left: 0;
			top: 44px;
			width: 100%;
			padding: 5px 15px;
			box-shadow: 0 5px 35px rgba(0,39,61,0.05);
		}
		.item {
			display: -webkit-box;
			-webkit-box-align: center;
			padding: 15px 0;
			border-bottom: 1px dashed #dee3e8;
			font-size: 14px;
			font-weight: bold;
			span {
				display: block;
				font-weight: normal;
				color: #8a929b + 30;
				font-size: 12px;
				-webkit-box-flex: 1;
				text-align: right;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.user {
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: 80px;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-orient: vertical;
		h6 {
			font-size: 16px;
			font-weight: bold;
			text-align: right;
			color: #222;
			margin-bottom: 4px;
		}
		p {
			font-size: 12px;
			color: #8a929b + 30;
			margin-bottom: 4px;
			text-align: right;
		}
		span {
			display: -webkit-box;
			-webkit-box-pack: end;
		}
		a {
			margin-left: 10px;
			display: block;
			color: #5081ff;
			font-size: 12px;
			text-decoration: none;
			&:hover {
				color: #33b400;
			}
		}
	}
}

.dailog-modifyPw {
	.x-dialog__inner {
		padding: 30px 50px;
	}
	.header {
		margin: 0 auto 15px auto;
	}
	h1 {
		text-align: center;
		font-weight: bold;
		color: #000;
		margin-bottom: 20px;
	}
	.row {
		display: -webkit-box;
		-webkit-box-align: center;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 10px;
		}
		label {
			display: block;
			width: 100px;
			text-align: right;
			margin-right: 10px;
			font-size: 14px;
			color: #586069 + 50;
		}
		input {
			-webkit-box-flex: 1;
		}
	}
}