@charset "utf-8";

.wb-main-daily-list {
  > .empty {
    width: 100%;
    line-height: 300px;
    text-align: center;
    color: #a8b0b9;
    font-size: 14px;
  }
  > .row {
    .wb-user-header {
      float: left;
      margin-right: 10px;
    }
    .wb-daily-item {
      float: left;
      width: 740px;
    }
  }
}
