@charset "utf-8";

.wb-main-daily-list {
  > .daily-item {
    .wb-user-header {
      float: left;
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
    .wb-daily-item {
      float: left;
      width: 735px;
    }
  }
}
