
.view-project-chart {

  .summary {
    background: #fff;
    padding: 20px 0 10px 0;
    margin: 0 -1600px 20px -1600px;
    border-bottom: 1px solid #dee3e8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    > .inner {
      width: 1128px;
      margin: 0 auto;
    }

    .header {
      display: block;
      overflow: hidden;
      margin-bottom: 15px;
      h1 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
        color: #222;
      }
      span {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 20px;
        color: #a8b0b9;
      }
    }
  }

  .mission-chart {
    border: 1px solid #dee3e8;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px 15px 0 15px;
    > .header {
      display: block;
      overflow: hidden;
      margin-bottom: 15px;
      h2 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        float: left;
        color: #222;
      }
      > .user {
        float: right;
        line-height: 1.5;
        p {
          display: block;
          font-size: 14px;
          text-align: right;
          color: #586069;
        }
        span {
          display: block;
          color: #a8b0b9;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }


    > .chart {
      width: 100%;
      height: 140px;
      text-align: center;
      line-height: 140px;
      border-left: 1px solid #f7f9fc - 20;
      border-bottom: 1px solid #f7f9fc - 20;
      color: #d0d8e1;
      font-size: 12px;
    }
  }

}