@charset "utf-8";

body {
  background: #f7f9fc;
}

.wb-header {
  height: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  background: #fff;
  position: relative;
  z-index: 9;
  &__inner {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
  }
  .logo {
    display: block;
    width: 195px;
    height: 27px;
    background: url('../../assets/imgs/logo.png');
    background-size: 100% 100%;
    margin-right: 70px;
  }
  nav {
    flex: 1;
    display: flex;
    a {
      display: block;
      height: 80px;
      line-height: 80px;
      font-size: 16px;
      font-weight: 700;
      color: #586069;
      padding: 0 20px;
      &:hover {
        color: #222;
      }
      &.active {
        color: #5081ff;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 36px;
          height: 2px;
          background: #5081ff;
          position: absolute;
          left: 50%;
          top: 54px;
          margin-left: -18px;
          border-radius: 2px;
        }
      }
    }
  }
  .profile {
    h6 {
      font-size: 16px;
      font-weight: 700;
      text-align: right;
      color: #222;
      margin-bottom: 6px;
    }
    p {
      font-size: 12px;
      color: #a8b0b9;
      margin-bottom: 8px;
      text-align: right;
    }
    span {
      display: flex;
      justify-content: flex-end;
    }
    a {
      margin-left: 10px;
      display: block;
      color: #5081ff;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: #33b400;
      }
    }
  }
}

.wb-full {
  border-bottom: 1px solid #dee3e8;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
  &__inner {
    padding: 20px 0;
    width: 1040px;
    margin: 0 auto;
  }
}

.wb-body {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  &__main {
    width: 760px;
    margin-right: 15px;
  }
  &__aside {
    flex: 1;
  }
}

.wb-footer {
  display: block;
  text-align: center;
  color: #a8b0b9;
  font-size: 12px;
  padding: 30px 0;
}